@import 'tailwindcss';

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --header-bg: #D35400;      /* Warm orange for header */
  --header-text: #ffffff;     /* White text */
  --button-bg: #FFAC33;       /* Golden buttons */
  --button-text: #2E8B57;     /* Dark green accent */
  --hover-bg: #2E8B57;        /* Dark green hover */
  --hover-text: #ffffff;       /* White text on hover */
}

[data-theme='dark'] {
  --bg-color: #1f1f1f;
  --text-color: #ffffff;
  --header-bg: #111827;
  --header-text: #ffffff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 0.3s ease;
}
